<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>PokeTrack</title>
        <!-- #region Stylesheets -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,7 00&display=swap">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mdb.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- endregion -->
    </head>
    <body>
        <header>
            <!--#region  Navbar -->
            <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
                <div class="container">
                    <a class="navbar-brand" href="#">PokéTracker</a>
                    <button 
                        class="navbar-toggler" 
                        type="button" 
                        data-toggle="collapse" 
                        data-target="#navbarTogglerDemo02"
                        aria-controls="navbarTogglerDemo02" 
                        aria-expanded="false" 
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav mr-auto smooth-scroll">
                            <li class="nav-item">
                                <a 
                                    class="nav-link" 
                                    href="#intro">Home</a>
                            </li>
                            <li class="nav-item">
                                <a 
                                    class="nav-link" 
                                    href="#about" 
                                    data-offset="90">About</a>
                            </li>
                            <li class="nav-item">
                                <a 
                                    class="nav-link" 
                                    href="#FAQ" 
                                    data-offset="90">FAQ</a>
                            </li>
                            <li class="nav-item">
                                <a 
                                    class="nav-link" 
                                    href="#features" 
                                    data-offset="90">Features</a>
                            </li>
                            <li class="nav-item">
                                <a 
                                    class="nav-link" 
                                    href="#Contact" 
                                    data-offset="30">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- endregion -->
            <!--#region Full Page Intro -->
            <div class="view">
                <video 
                    class="video-intro" 
                    poster="https://mdbootstrap.com/img/Photos/Others/background.jpg" 
                    playsinline 
                    autoplay
                    muted 
                    loop>
                    <source src="https://mdbootstrap.com/img/video/animation.mp4" type="video/mp4">
                </video>
                <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
                    <div class="container px-md-3 px-sm-0">
                        <div class="row wow fadeIn">
                            <div class="col-md-12 mb-4 white-text text-center wow fadeIn">
                                <h3 class="display-3 font-weight-bold white-text mb-0 pt-md-5 pt-5">PokéTracker</h3>
                                <hr class="hr-light my-4 w-75">
                                <h4 class="subtext-header mt-2 mb-4">PokéTracker has the biggist and friendliest communities in the world!</h4>
                                <a href="#!" class="btn btn-rounded btn-outline-white">
                                <i class="fas fa-home "></i> Join Us
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- endregion -->
        </header>
        <main>
            <!--Section: about-->
            <section id="about" class="py-5">
                <!-- Container -->
                <div class="container">
                    <!-- Section heading -->
                    <h2 class="h1-responsive font-weight-bold text-center mb-5">Why Us?</h2>
                    <!-- Section description -->
                    <p class="lead grey-text text-center w-responsive mx-auto mb-5"> We are convenient, Easy to use and Of course free!</p>
                    <div class="row">
                        <div class="col-lg-5 text-center text-lg-left">
                            <img 
                              class="img-fluid" 
                              src="./img/shiny_pokemon_rainbow/Pokeball.png"
                              alt="Pokeball">
                        </div>
                        <div class="col-lg-7">
                            <div class="row mb-3">
                                <div class="col-1">
                                    <i class="fas fa-share fa-lg indigo-text"></i>
                                </div>
                                <div class="col-xl-10 col-md-11 col-10">
                                    <h5 class="font-weight-bold mb-3">Convient</h5>
                                    <p class="grey-text">PokéTracker has everything you could ever want for your shiny hunting purposes all in one site! Each hunt can be as simple or complex depending on the user but all the while useful.
                                    </p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-1">
                                    <i class="fas fa-share fa-lg indigo-text"></i>
                                </div>
                                <div class="col-xl-10 col-md-11 col-10">
                                    <h5 class="font-weight-bold mb-3">Easy To Use</h5>
                                    <p class="grey-text">Everything is straight forward and simple to use (instructions still included)!
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1">
                                    <i class="fas fa-share fa-lg indigo-text"></i>
                                </div>
                                <div class="col-xl-10 col-md-11 col-10">
                                    <h5 class="font-weight-bold mb-3">Free</h5>
                                    <p class="grey-text mb-0">All of our services all for a low, low price of $0.00!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Section: FAQ -->
            <section id="FAQ" class="py-5">
                <div class="container my-5">
                    <h6 class="font-weight-normal text-uppercase font-small grey-text mb-4 text-center">FAQ</h6>
                    <h3 class="font-weight-bold black-text mb-4 pb-2 text-center">Frequently Asked Questions</h3>
                    <hr class="w-header">
                    <p class="lead text-muted mx-auto mt-4 pt-2 mb-5 text-center">Got a question? We've got answers. If you have
                        some other questions, see our support center.
                    </p>
                    <div class="row">
                        <div class="col-md-12 col-lg-10 mx-auto mb-5">
                            <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                                <div class="card border-top border-bottom-0 border-left border-right border-light">
                                    <!-- #region QuestionOne -->
                                    <div class="card-header border-bottom border-light" role="tab" id="headingOne1">
                                        <a 
                                            data-toggle="collapse" 
                                            data-parent="#accordionEx" 
                                            href="#collapseOne1" 
                                            aria-expanded="true"
                                            aria-controls="collapseOne1">
                                            <h5 class="black-text font-weight-normal mb-0">
                                                Is this a secure site? <i class="fas fa-angle-down rotate-icon"></i>
                                            </h5>
                                        </a>
                                    </div>
                                    <!-- Card body -->
                                    <div 
                                        id="collapseOne1" 
                                        class="collapse show" 
                                        role="tabpanel" 
                                        aria-labelledby="headingOne1"
                                        data-parent="#accordionEx"
                                        >
                                        <div class="card-body">
                                            Absolutely! We make sure the website is always enforced with https:// to make sure Team Rocket Won't get in the way of you catching your valuable shinies
                                        </div>
                                    </div>
                                </div>
                                <div class="card border-bottom-0 border-left border-right border-light">
                                    <!-- endregion -->
                                    <!-- #region QuestionTwo -->
                                    <div class="card-header border-bottom border-light" role="tab" id="headingTwo2">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                                            aria-expanded="false" aria-controls="collapseTwo2">
                                            <h5 class="black-text font-weight-normal mb-0">
                                                How long are your can I hold my shinies? <i class="fas fa-angle-down rotate-icon"></i>
                                            </h5>
                                        </a>
                                    </div>
                                    <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                                        data-parent="#accordionEx">
                                        <div class="card-body">
                                            You can have your shinies forever as long as this site is up, you cna have all the shinies you want!
                                        </div>
                                    </div>
                                </div>
                                <div class="card border-bottom-0 border-left border-right border-light">
                                    <!-- endregion -->
                                    <!-- #region QuestionThree -->
                                    <div class="card-header border-bottom border-light" role="tab" id="headingThree3">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                                            aria-expanded="false" aria-controls="collapseThree3">
                                            <h5 class="black-text font-weight-normal mb-0">
                                                Do I need a subscription? <i class="fas fa-angle-down rotate-icon"></i>
                                            </h5>
                                        </a>
                                    </div>
                                    <!-- Card body -->
                                    <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
                                        data-parent="#accordionEx">
                                        <div class="card-body">
                                            PokéTracker will always be free as long as I live!
                                        </div>
                                    </div>
                                </div>
                                <div class="card border-left border-right border-light">
                                    <!-- endregion -->
                        </div>
                    </div>
                </div>
            </section>
            <!--Section: features-->
            <section 
                id="Features" 
                class="text-center"
                >
                <div class="container py-5 my-5">
                    <section class="p-md-3 mx-md-5">
                        <div class="row mb-5 d-flex align-items-center">
                            <div class="col-lg-6 col-md-6">
                                <div class="card">
                                    <div class="card-header white">
                                        <h4 class="font-weight-bold mb-0">Tracker</h4>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">
                                            Records shiny hunts from every Pokemon game that has shinies in it!
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class=" overlay rounded z-depth-1">
                                    <img src="./img/shiny_pokemon_rainbow/black_shiny.gif" class="img-fluid"
                                        alt="Black shinies" />
                                    <a href="#">
                                        <div class="mask rgba-white-slight"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-5 d-flex align-items-center justify-content-end">
                            <div class="col-md-6 col-lg-4">
                                <div class=" overlay rounded z-depth-1">
                                    <img src="./img/shiny_pokemon_rainbow/blue_shiny.gif" class="img-fluid"
                                        alt="Blue Shinies" />
                                    <a href="#">
                                        <div class="mask rgba-white-slight"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="card">
                                    <div class="card-header white">
                                        <h4 class="font-weight-bold mb-0">Autosave</h4>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">
                                            Progress automatically saves, so no worries about unexpected crashes ruining hunt progress!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-6 col-md-6">
                                <div class="card">
                                    <div class="card-header white">
                                        <h4 class="font-weight-bold mb-0">Catalog</h4>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">
                                            Images of every Pokemon and its respective shiny forms in each Pokemon generation!
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class=" overlay rounded z-depth-1">
                                    <img src="./img/shiny_pokemon_rainbow/fuschia_shiny.gif" class="img-fluid"
                                        alt="Fusic Shinies" />
                                    <a href="#">
                                        <div class="mask rgba-white-slight"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </main>
        <!--Main layout-->
        <!--Footer-->
        <footer>
            <!--Section: contact-->
            <section 
                id="contact" 
                class="py-5"
                style="background-color: #eee; background-image: url(https://mdbootstrap.com/img/Photos/Others/background2.jpg); background-size: cover; background-position: center center;">
                <div class="container z-depth-1 my-5 px-0">
                    <!-- Section heading -->
                    <h3 class="text-center font-weight-bold text-white mt-5 mb-3">Contact Us</h3>
                    <!-- Section description -->
                    <h4 class="text-center font-weight-normal text-white mx-auto mb-4 pb-2">We love to hear from you!</h4>
                    <form class="mb-5 mx-md-5" action="">
                        <div class="row">
                            <div class="col-md-4 mb-4">
                                <!-- Name -->
                                <input 
                                    type="text" 
                                    id="name" 
                                    class="form-control" 
                                    placeholder="Name"
                                    >
                            </div>
                            <div class="col-md-4 mb-4">
                                <!-- Email -->
                                <input 
                                    type="email" 
                                    id="email" class="form-control" 
                                    placeholder="Email">
                            </div>
                            <div class="col-md-4 mb-4">
                                <!-- Phone -->
                                <input 
                                    type="number" 
                                    id="phone" 
                                    class="form-control" 
                                    placeholder="Phone (optional)">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-4">
                                <!-- Subject -->
                                <input 
                                    type="text" 
                                    id="subject" 
                                    class="form-control" 
                                    placeholder="Subject">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group mb-4">
                                    <textarea 
                                        class="form-control rounded" 
                                        id="message" 
                                        rows="3" 
                                        placeholder="How can we help?"></textarea>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-elegant">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </footer>
        <!-- #region scripts -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/mdb.min.js') }}"></script>
        <!-- endregion -->
    </body>
</html>